.navbar{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    
    a{
        text-decoration: none;
        color: black;
    }
    a:visited{
        text-decoration: none;
        color: black;
    }
}